Source: ergo-telescope
Section: science
Priority: important
Maintainer: Matthew Weger <matthew.d.weger@gmail.com>
Build-Depends: debhelper (>= 9), autotools-dev ,automake, mime-support, locales,  locales-all, libsigsegv2, gawk, libmagic1, libreadline6 , libconfig++-dev ,libcurl4-gnutls-dev
Standards-Version: 3.9.5
Homepage: http://www.ergotelescope.org/
Vcs-Git: git@github.com:W-M-D/ergo-telescope.git
Vcs-Browser: https://github.com/W-M-D/ergo-telescope.git

Package: ergo-telescope
Replaces: ergo (<< 1.0-1~)
Breaks: ergo (<< 1.0-1~)
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: energetic ray global observatory daemon
 This program interfaces your computer with a compatible ergo unit via serial port. It then uses the board to collect cosmic ray data log it to /etc/ERGO_DATA.csv and send the events to the server For more information join #ERGO-telescope on freenode or go to www.ergotelescope.org
